.conteudo-principal-subtitulo-sobre{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ECD6C4;
}
.conteudo-principal-subtitulo-sobre{
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
}
.imagem-maya{
    height: 400px;
    margin: 30px;
}
#conteudo-principal-titulo-sobre{
    font-family: 'Righteous', cursive;
    font-size: 64px;
    font-weight: 400;
    color: #FFF2E7;
    margin-left: 200px;
}
.conteudo-principal-btn-sobre{
    height: 30px;
    width: 85px;
    color: #FFF2E7;
    background-color: #2F2325;
    background: #ECD6C4;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border: 0,5px;
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
    font-weight: 400px;
    cursor: pointer;
    margin-left: 20px;
    border-color: #2F2325;
}
.conteudo-principal-btn-sobre:hover{
    background-color: #FFF2E7;
}
.imagem-maya{
    border-bottom: 8px solid yellow;
    border-top: 8px solid black;
    border-right: 8px solid white;
    border-left: 8px solid purple;
}